# Example terraform.tfvars

app_name           = "video-enhancer"
notification_email = "your-email@example.com"

batch_instance_types = ["g4dn.xlarge", "g4dn.2xlarge"]

tags = {
  Environment = "production"
  ManagedBy   = "Terraform"
  Project     = "video-enhancer"
}
