# Example terraform.tfvars

app_name           = "video-enhancer"
notification_email = "your-email@example.com"

batch_instance_types = ["p3.2xlarge", "g4dn.xlarge"]

tags = {
  Environment = "production"
  ManagedBy   = "Terraform"
  Project     = "video-enhancer"
}
